/* src/app/contact/Contact.module.css */
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f5efe6;
}

.formContainer {
  background-color: rgba(196, 157, 131, 0.1);
  box-shadow: 0px 4px 12px rgba(213, 202, 188, 0.1);
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}

.heading {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 30px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup input,
.formGroup textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  background-color: #d5cabc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
  color: #bbb0a2; /* Couleur du texte du placeholder */
}

.formGroup textarea {
  resize: vertical; /* Permet de redimensionner verticalement */
}

.submitButton {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #dabfb3;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #d0bdb5;
}
