.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* La page occupe toute la hauteur de l'écran */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Le conteneur grandit pour occuper l'espace restant */
  text-align: center;
  padding: 2rem;
}

.text {
  max-width: 600px; /* Limite la largeur du texte pour une meilleure lisibilité */
  color: black;
}
