.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Ajuste la hauteur minimale selon tes besoins */
  text-align: center;
  padding: 2rem;
}

.image {
  max-width: 100%; /* Ajuste la taille de l'image pour qu'elle soit responsive */
  height: auto;
}

.text {
  max-width: 600px; /* Limite la largeur du texte pour une meilleure lisibilité */
  color: black;
}
